@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);

    /* breakouts */
    --width-mobile: 375px;
    --width-desktop: 1440px;
}

body {
    display: grid;
    justify-content: center;

    color: var(--clr-stone-600);
    font-weight: 400;
    font-family: "Outfit", "Young Serif", sans-serif, serif;
    line-height: 2rem;
    text-wrap: pretty;

    background-color: var(--clr-stone-100);
}

p {
    font-size: 1rem;
}

h1,
h2,
h3 {
    padding: 1rem 0;
}

h1,
h2 {
    font-family: "Young Serif", "Outfit", sans-serif, serif;
}

ol,
ul,
li {
    padding-left: 1rem;
}

.recipe {
    width: clamp(var(--width-mobile), 60vw, 800px);

    background: var(--clr-white);
    border-radius: 1rem;
    margin-block: 5rem;

    header {
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .content {
        padding: 0rem 2.5rem 2.5rem 2.5rem;
    }

    img {
        width: 100%;

        border-radius: 0.5rem;
    }

    h1 {
        color: var(--clr-stone-900);
        font-size: clamp(1.5rem, 1.5rem + 2vw, 3rem);
        padding-block: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        padding: 0.5rem 0;

        line-height: 1.5rem;
    }

    .preparation {
        margin: 2rem 0;
        padding: 1rem 2rem;

        background: var(--clr-rose-50);
        border-radius: 0.5rem;

        h3 {
            color: var(--clr-rose-800);
        }
    }

    section {
        &:not(:nth-of-type(3)) {
            border-bottom: 1px solid var(--clr-stone-150);
        }

        h2 {
            color: var(--clr-brown-800);
            font-weight: 400;
        }
        ul,
        ol {
            padding-bottom: 2rem;

            & > li {
                margin-bottom: 0.8rem;

                line-height: 1.5rem;
            }
        }

        ol > li::marker {
            margin-right: 3rem;

            color: var(--clr-rose-800);
            font-weight: bold;
        }

        table {
            width: 100%;

            text-align: left;

            border-collapse: collapse;

            tr:not(:nth-of-type(4)) {
                border-bottom: 1px solid var(--clr-stone-150);
            }

            th {
                width: 50%;
                padding: 0.5rem 0 0.5rem 2rem;
            }

            tr > td {
                color: var(--clr-brown-800);
                font-weight: bold;
            }
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (width <= var(--width-mobile)) {
    .recipe {
        /* padding: 0 2rem 2rem 2rem; */
        margin: 0;
        overflow: hidden;

        border-radius: 0;

        header {
            padding: 0;
        }

        .content {
            padding-inline: 3rem;
        }

        img {
            border-radius: 0;
        }
    }
}
